.container.auth
  #login-row.row.justify-content-center.align-items-center
    #login-column.col-md-6
      #login-box.col-md-12.auth-form
        = form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f|
          %h3.text-center Login
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          .form-group
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password", class: "form-control"
          .form-group.action
            = f.submit "Log in", class: "btn btn-info btn-md"
          #register-link.text-right
            = render "devise/shared/links"